@keyframes popping {
  0% {width:300px; height:300px;}
  100%{width: 325px; height: 325px;}
}

@keyframes rainbow {
  0% {color: black};
  20% {color:red;}
  40% {color:blue;}
  60% {color:green;}
  80% {color:yellow;}
  100% {color:black;}
}

body {
  background-color: white;
}

header {
  text-align: center;
}

#container {
  width: 1080px;
  margin:0 auto;
  background-color: white;
  border: 3px solid #DDDDDD;
}

#username {
  font-family: 'Bungee Shade', cursive;
  animation-name: rainbow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

#top-bar {
  height:145px;
  background-image: url('images/Top-Bar.png');
  background-repeat: no-repeat;
  padding-top: 1%;
  padding-left: 2%;
}

#follower-count {
  height:355px;
  background-image: url('images/Follower-count.png');
}

#profile-picture {
  border-radius: 50%;
  height: 254px;
  width: 254px;
  margin-left: 5.54%;
  margin-top: 4.99%;
}

#follower-count > p{
  position: relative;
  display: inline-block;
  margin-top: 8%;
}

#post {
  margin-left: 29%;
  font-size: 300%;
}

#followers {
  font-size: 200%;
  margin-left: 7.5%;
}

#following {
  font-size: 300%;
  margin-left: 7%;
}

#phto-bar {
  height: 140px;
  background-image: url("images/Photo-Bar.png");
}

#bio {
  padding:5% 0% 5% 3%;
  font-size: 150%;
  font-family: 'Raleway', sans-serif;
}

#pictures {
  display: inline-block;
  /*padding-left: 8%;*/
  text-align: center;
}

.ig-image {
  transition-timing-function: ease-in-out;
  transition: width,height;
  transition-duration: 1s;
  display: inline-block;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;

}

.ig-image:hover {
  width: 325px;
  height: 325px;
}

#bottom-bar {
  height:135px;
  background-image: url("images/Bottom-bar.png");

}
